@using Hive.Backend.Security

@model UpdateUserViewModel

@{
    ViewData["Title"] = "UpdateUser";
}

<div class="jumbotron">
    @if (!User.IsInRole(Roles.BuiltinRoles.Admin.Key))
    {
        <h1>You should not be here.</h1>
        <p>
            This Back office is destined to the application's administrators,
            if you are supposed to be one an error must have been made while creating your account,
            please contact an other administrator to correct that error.
        </p>
    }
    else
    {
        <h2>Update an User</h2>

        <form asp-controller="Account" asp-action="SearchUser" method="post">
            <div class="form-group">
                Enter an user email: <input type="email" class="form-control" name="SearchString" />
                <input type="submit" value="Search" />
            </div>
        </form>

        @if (ViewData["SuccessDelete"] != null && (bool)ViewData["SuccessDelete"])
        {
            <p style="color: darksalmon">The User has been successfully deleted!</p>
        }

        @if (Model != null && Model.IsFilled())
        {
            <hr />

            @if (ViewData["SuccessUpdate"] != null && (bool)ViewData["SuccessUpdate"])
            {
                <p style="color: darksalmon">This user has just been updated successfully!</p>
            }



            <h3>@Model.FirstName @Model.LastName</h3>

            <p>Email: @Model.Email</p>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <h3>Roles:</h3>
                    @if (Model.AdminRole)
                    {
                        <p>Administrator</p>

                    }

                    @if (Model.DataEditorRole)
                    {
                        <p>Data editor</p>

                    }
                </div>
                <div class="col-md-4">
                    <h3>Localization:</h3>
                    <p>@Model.City</p>
                    <p>@Model.Country</p>
                </div>
                <div class="col-md-4">
                    <h3>Job:</h3>
                    <p>@Model.Job</p>
                    <p>@Model.Department</p>
                </div>
            </div>

            <a asp-action="DeleteUser" asp-route-appUserId="@Model.Id">Delete this User</a>
            <hr />

            <form asp-controller="Account" asp-action="UpdateUser" method="post" class="form-horizontal">
                <h4>Update informations:</h4>
                <br />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Department" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Department" class="form-control" />
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Job" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Job" class="form-control" />
                        <span asp-validation-for="Job" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label asp-for="AdminRole">
                                <input asp-for="AdminRole" />
                                @Html.DisplayNameFor(m => m.AdminRole)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label asp-for="DataEditorRole">
                                <input asp-for="DataEditorRole" />
                                @Html.DisplayNameFor(m => m.DataEditorRole)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Update</button>
                    </div>
                </div>
            </form>



        }
        else if (Model != null && !Model.IsFilled())
        {
            <p>
                It seems like there is no user with that email adress.
            </p>

        }

    }


</div>


