@inject SignInManager<ApplicationUser> SignInManager
@using Hive.Backend.Security

@{
    ViewData["Title"] = "Home Page";

    if (ViewData["ModelErrors"] != null)
    {
        List<string> errors = new List<string>();
        errors = (List<string>)ViewData["ModelErrors"];
    }
}
<div class="jumbotron">
    @if (!SignInManager.IsSignedIn(User))
    {
        <h1>Mobioos Hive Backend</h1>
        <p class="lead">Please, <a asp-area="" asp-controller="Account" asp-action="Login">Log In</a> with an Administrator account to access the back office.</p>
        <!-- <p><a href="http://www.mobioos.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
    }
    else
    {
        @if (!User.IsInRole(Roles.BuiltinRoles.Admin.Key) &&
  !User.IsInRole(Hive.Backend.Security.Roles.BuiltinRoles.DataEditor.Key))
        {
            <h1>You should not be here.</h1>
            <p>
                This Back office is destined to the application's administrators,
                if you are supposed to be one an error must have been made while creating your account,
                please contact an other administrator to correct that error.
            </p>

        }
        else
        {
            <h1>Hive back office.</h1>
            <p class="lead">This back office is here for you to manage the application's data.</p>
            <hr />
            <h2>Quick action:</h2>
            <div class="row">

                @if (User.IsInRole(Roles.BuiltinRoles.Admin.Key))
                {
                    <div class="col-md-6">
                        <h3>Create a new User</h3>
                        @if (ViewData["createdUser"] != null)
                        {
                            <p>@ViewData["createdUser"]</p>
                        }
                        @if (ViewData["ModelErrors"] != null)
                        {
                            <div style="border: 2px solid darkred; padding: 5px">
                                @foreach (string error in (List<string>)ViewData["ModelErrors"])
                                {
                                    <p style="color: darkred">@error</p>
                                }
                            </div>
                        }
                        @Html.Partial("_registerUserPartial")
                    </div>

                }
                @if (User.IsInRole(Roles.BuiltinRoles.Admin.Key) ||
            User.IsInRole(Roles.BuiltinRoles.DataEditor.Key))
                {
                }

                <h2>Other actions:</h2>
                <div class="btn-group-vertical" role="group" aria-label="...">
                    @if (User.IsInRole(Roles.BuiltinRoles.Admin.Key))
                    {
                        <a class="btn btn-default" href="@Url.Action("UpdateUser", "Account")">Edit an User</a>
                    }
                    @if (User.IsInRole(Roles.BuiltinRoles.DataEditor.Key) ||
              User.IsInRole(Roles.BuiltinRoles.Admin.Key))
                    {
                        <a class="btn btn-default" href="@Url.Action("Index", "Card")">Manage the Posts default pictures</a>
                    }
                </div>

            </div>
            <!-- 
            <hr />
            <h2>Other actions:</h2>
            <div class="btn-group-vertical" role="group" aria-label="...">
                @if (User.IsInRole(Roles.BuiltinRoles.Admin.Key))
                {
                    <a class="btn btn-default" href="@Url.Action("UpdateUser", "Account")">Edit an User</a>
                }
                @if (User.IsInRole(Roles.BuiltinRoles.DataEditor.Key) ||
           User.IsInRole(Roles.BuiltinRoles.Admin.Key))
                {
                    <a class="btn btn-default" href="@Url.Action("Index", "Card")">Manage the Posts default pictures</a>
                }
            </div> -->
        }

    }


</div>

<!--
<div class="row">
    <div class="col-md-6">
        <h2>APIs</h2>
        <p>See available APIs documentation for either bulk load and application execution.</p>
        <p><a class="btn btn-default" href="/swagger">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Basic back office editor</h2>
        <div class="btn-group-vertical" role="group" aria-label="...">
            @if (User.IsInRole(Hive.Backend.Security.Roles.BuiltinRoles.Admin.Key) ||
         User.IsInRole(Hive.Backend.Security.Roles.BuiltinRoles.DataEditor.Key))
            {
                <a class="btn btn-default" href="@Url.Action("Index", "Identifier")">Identifier</a>
                <a class="btn btn-default" href="@Url.Action("Index", "Card")">Card</a>
                <a class="btn btn-default" href="@Url.Action("Index", "Reporting")">Reporting</a>
                <a class="btn btn-default" href="@Url.Action("Index", "Idea")">Idea</a>
                <a class="btn btn-default" href="@Url.Action("Index", "Result")">Result</a>
                <a class="btn btn-default" href="@Url.Action("Index", "Choice")">Choice</a>
                <a class="btn btn-default" href="@Url.Action("Index", "Answer")">Answer</a>
                <a class="btn btn-default" href="@Url.Action("Index", "UserProfile")">UserProfile</a>
                <a class="btn btn-default" href="@Url.Action("Index", "Group")">Group</a>
                <a class="btn btn-default" href="@Url.Action("Index", "Picture")">Picture</a>
            }
        </div>
    </div>
</div> -->
