
@model Hive.Backend.DataModels.Reporting

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Reporting</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
            @Html.LabelFor(m => m.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Id, "", new { @class = "text-danger" })
            </div>
        </div>
				<div class="form-group">
            @Html.LabelFor(m => m.PublicationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PublicationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.PublicationDate, "", new { @class = "text-danger" })
            </div>
        </div>
				<div class="form-group">
            @Html.LabelFor(m => m.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
            </div>
        </div>
				<div class="form-group">
            @Html.LabelFor(m => m.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
            </div>
        </div>
				<div class="form-group">
            @Html.LabelFor(m => m.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
				<div class="form-group">
            @Html.LabelFor(m => m.CreatedById, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.CreatedById, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.CreatedById, "", new { @class = "text-danger" })
            </div>
        </div>
				<div class="form-group">
            @Html.LabelFor(m => m.PictureId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PictureId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.PictureId, "", new { @class = "text-danger" })
            </div>
        </div>
				<div class="form-group">
            @Html.LabelFor(m => m.Views, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Views, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Views, "", new { @class = "text-danger" })
            </div>
        </div>
				<div class="form-group">
            @Html.LabelFor(m => m.Answers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Answers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Answers, "", new { @class = "text-danger" })
            </div>
        </div>
				<div class="form-group">
            @Html.LabelFor(m => m.LinkedCardId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.LinkedCardId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.LinkedCardId, "", new { @class = "text-danger" })
            </div>
        </div>
		
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

