
@model Hive.Backend.DataModels.Card

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
				<dt>
            @Html.DisplayNameFor(m => m.Id)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Id)
        </dd>
				<dt>
            @Html.DisplayNameFor(m => m.PublicationDate)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.PublicationDate)
        </dd>
				<dt>
            @Html.DisplayNameFor(m => m.Content)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Content)
        </dd>
				<dt>
            @Html.DisplayNameFor(m => m.Type)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Type)
        </dd>
				<dt>
            @Html.DisplayNameFor(m => m.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.EndDate)
        </dd>
				<dt>
            @Html.DisplayNameFor(m => m.CreatedById)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.CreatedById)
        </dd>
				<dt>
            @Html.DisplayNameFor(m => m.PictureId)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.PictureId)
        </dd>
		    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
