
@model Hive.Backend.DataModels.Answer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="dl-horizontal">
				<dt>
            @Html.DisplayNameFor(m => m.Id)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Id)
        </dd>
				<dt>
            @Html.DisplayNameFor(m => m.AnswerDate)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.AnswerDate)
        </dd>
				<dt>
            @Html.DisplayNameFor(m => m.AnsweredById)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.AnsweredById)
        </dd>
				<dt>
            @Html.DisplayNameFor(m => m.CardId)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.CardId)
        </dd>
				<dt>
            @Html.DisplayNameFor(m => m.ChoiceId)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.ChoiceId)
        </dd>
		    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
